
<div class="row p-2">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title"> <%=user.username%></h5>
       
        <%=user.account_type %>
        <hr/>
        <%=user.media_count %> <i class="fas fa-camera"></i>
        
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <% posts.data.forEach(post => { %>
      <div class="col-md-4">
        <div class="card mb-2 animated bounceInUp">
          <div class="card-body">
              <p>Caption: <%= post.caption %></p>
              <p class="text-muted"><%= post.timestamp %></p>
          </div>
        </div>
      </div>
      <% })%>
    </div>
  </div>
</div>